* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, sans-serif;
}

.totalBody {
  height: 100vh;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.totalBody::-webkit-scrollbar {
  display: none;
}
